:root {
    --primary-color: #F08E35;
    --primary-content-color: #fff;
    --primary-content-text-color: #000;
    --primary-color-hover: #A8551F;

    --foreground-color: #fff;
    --background-color: #171717;
    --foreground-muted-color: #393939;
    --foreground-muted-text-color: #595959;

    --spacing: 0.25rem;
}

body {
    margin: 0;
    padding: 0;
    color: var(--foreground-color);

    font-family: 'IBM Plex Mono', monospace;
    background: var(--background-color);
}



